@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/font/montserrat-v25-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/font/montserrat-v25-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/font/montserrat-v25-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/font/montserrat-v25-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../assets/font/montserrat-v25-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/font/montserrat-v25-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/font/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/font/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/font/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/font/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/font/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/font/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}


body {
  background: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #fff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.navbar {
  h1 {
    font-size: 1.4rem;
  }
  h1::after {
    content: 'id';
    color: red;
    position: absolute;
  }
  &_link {
    font-size: 1rem;
    font-weight: 600;
    padding-right: 0.7rem;
  }
  &_cart {
    font-size: 1.5rem;
  }
  .badge {
    font-size: 0.8rem;
    left: 75%;
  }
}
.banner {
	&__title {
		font-size: 4rem;
		font-family: 'Montserrat', sans-serif;
	}
	.btn.banner__btn {
		font-size: 1.3rem;
	}
}
.best-seller {
  &__title {
    font-size: 3.5rem;
		font-family: 'Montserrat', sans-serif;
  }
  &__subtitle {
    font-size: 1.2rem;
    font-style: italic;
    padding-bottom: 3rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif
  }
  #card.best-seller__card {
    background: rgba(0, 0, 0, 0.26);
    transition:.3s ease-in-out;
  }
  .card-body {
    h5 {
      font-size: 1rem;
      font-family: 'Montserrat', sans-serif;
    }
  }
}
.product-detail {
  &__title {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
  }
  &__price {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
  }
  &__review > *{
    font-size: 1.1rem;
  }
  &__desc {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
  }
  &__list {
    li {
      font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    }
  }
  &__quantity {
    font-size: 1.3rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
  }
}
.member {
  &__title {
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
  }
  &__text {
    font-size: 1rem;
  }
  &__card {
    width: 600px;
  }
}
.product {
  &__card {
     background: rgba(0, 0, 0, 0.199) !important;
     border: .1px solid rgba(0, 0, 0, 0.075) !important;
  }
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h1>span {
  text-shadow: -8px 0px 0px #fff;
}

.notfound .notfound-404 h3 {
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}
.registration {
  background: #000;
  &__title {
    font-size: 3.5rem;
    color: #ffffff;
    padding: 2rem 0;
    font-family: 'Montserrat', sans-serif;
  }
  &__subtitle {
    font-size: 1.1rem;
    padding: 1.5rem 0;
  }
}
.login {
  background: #000;
  color: #ffffff;
  &__title {
    font-size: 3rem;
    padding: 2rem 0;
    font-family: 'Montserrat', sans-serif;
  }
}
@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 162px;
  }

  .notfound .notfound-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
  .login {
    &__title {
      font-size: 2rem;
    }
  }
}
@media screen and (max-width: 992px) {
   .navbar {
    &-brand {
      h1 {
        font-size: 1.3rem;
        margin-left: -20px !important; ;
      }
    }
    &_cart {
      font-size: 1.7rem;
    }
  }
	.banner {
		&__title {
			font-size: 3rem;
		}
	}
  .best-seller {
    &__title {
      font-size: 3rem;
    }
    &__subtitle {
      font-size: 1.2rem;
    }
  }
  .product-detail {
    &__title {
      font-size: 2.5rem;
    } 
  }
  .member {
    &__title {
      font-size: 4rem;
    }
    &__card {
      width: 800px;
    }
  }
}
@media screen and (max-width: 768px) {
   .notfound .notfound-404 {
    height: 200px;
  }

  .notfound .notfound-404 h1 {
    font-size: 200px;
  }
   .navbar {
    &-brand {
      h1 {
        font-size: 1rem;
        margin-left: -20px !important; ;
      }
    }
   
    &_cart {
      font-size: 1.5rem;
    }
  }
	.banner {
		&__title {
			font-size: 2.5rem;
		}
    &__btn {
      font-size: 1.2rem !important;
    }
	}
  .product-detail {
    &__title {
      font-size: 2rem;
    }
    &__desc {
      font-size: 0.8rem;
    }
  }
  .best-seller {
    &__title {
      font-size: 2.5rem;
    }
    &__subtitle {
      font-size: 1rem;
    }
  }
  .member {
    &__title {
      font-size: 3.3rem;
    }
  }
}
@media screen and (max-width: 576px) {
  .navbar {
    &-brand {
      h1 {
        font-size: 1rem;
        margin-left: -20px !important; ;
      }
    }
    &_link {
      font-size: 0.8rem;
    }
    &_cart {
      font-size: 1.3rem;
    }
  }
	.banner {
		&__title {
			font-size: 2rem;
		}
    &__btn {
      font-size: 0.8rem !important;
    }
	}
  .best-seller {
    &__title {
      font-size: 2rem;
    }
    &__subtitle {
      font-size: 0.7rem;
    }
  }
  .member {
    &__title {
      font-size: 3rem;
    }
  }
  .registration {
    &__title {
      font-size: 2.5rem;
    }
    &__subtitle {
      font-size: 0.8rem;
    }
  }
}
